body {
    height: 2000px;
}


/* Start Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #e0f7fa; /* سماوي فاتح */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #0097a7; /* تركواز غامق */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #006064; /* أغمق */
}
/* End Scrollbar */
