Back-End/API/Test Project API 02/.vs/Test Project API 02/CopilotIndices/17.14.1368.60722/CodeChunks.db
Back-End/API/Test Project API 02/.vs/Test Project API 02/CopilotIndices/17.14.1368.60722/CodeChunks.db
Back-End/API/Test Project API 02/.vs/Test Project API 02/CopilotIndices/17.14.1368.60722/SemanticSymbols.db
Back-End/API/Test Project API 02/.vs/Test Project API 02/CopilotIndices/17.14.1368.60722/CodeChunks.db
