
Back-End/API/Test Project API 02/.vs/Test Project API 02/FileContentIndex/bdbe9117-25de-478b-a149-cd804799fce5.vsidx
Back-End/API/Test Project API 02/.vs/Test Project API 02/FileContentIndex/26794d8c-1dbc-4d46-9a0b-b714057d7d41.vsidx
Back-End/API/Test Project API 02/.vs/Test Project API 02/FileContentIndex/75dea874-854c-4464-9549-5363ff787697.vsidx
Back-End/API/Test Project API 02/.vs/Test Project API 02/FileContentIndex/1ba486ff-be89-41bf-9863-7a143e0594a9.vsidx
Back-End/API/Test Project API 02/.vs/Test Project API 02/CopilotIndices/17.14.1368.60722/SemanticSymbols.db-wal
Back-End/API/Test Project API 02/.vs/Test Project API 02/CopilotIndices/17.14.1368.60722/SemanticSymbols.db-shm
Back-End/API/Test Project API 02/.vs/Test Project API 02/CopilotIndices/17.14.1368.60722/CodeChunks.db-wal
Back-End/API/Test Project API 02/.vs/Test Project API 02/CopilotIndices/17.14.1368.60722/CodeChunks.db-shm
Back-End/API/Test Project API 02/.vs/Test Project API 02/FileContentIndex/0e8a5061-88db-4405-91e3-c0e96809dfac.vsidx
Back-End/API/Test Project API 02/Test Project API 02/bin/Debug/net8.0/Test Project API 02.exe
Back-End/API/Test Project API 02/Test Project API 02/bin/Debug/net8.0/Test Project API 02.dll

Back-End/API/Test Project API 02/.vs/Test Project API 02/CopilotIndices/17.14.1368.60722/CodeChunks.db
Back-End/API/Test Project API 02/.vs/Test Project API 02/CopilotIndices/17.14.1368.60722/CodeChunks.db

Back-End/API/Test Project API 02/.vs/Test Project API 02/CopilotIndices/17.14.1368.60722/SemanticSymbols.db
Back-End/API/Test Project API 02/.vs/Test Project API 02/CopilotIndices/17.14.1368.60722/CodeChunks.db
Back-End/API/Test Project API 02/.vs/Test Project API 02/v17/.suo
Back-End/API/Test Project API 02/.vs/Test Project API 02/v17/.futdcache.v2
Back-End/API/Test Project API 02/.vs/Test Project API 02/v17/.suo
Back-End/API/Test Project API 02/.vs/Test Project API 02/v17/DocumentLayout.json
Back-End/API/Test Project API 02/.vs/Test Project API 02/v17/.futdcache.v2
