/* =============================== */
/*   🔵 إعدادات أساسية للصفحة     */
/* =============================== */

body {
    background-color: rgba(64, 102, 140, 0.705);
  font-family: "Segoe UI", sans-serif;
  direction: rtl;
}


/* =============================== */
/*            🔵 الداشبورد         */
/* =============================== */

.dashboard {
  position: fixed;
  right: 0;
  top: 0;
  width: 80px;    /* Mini */
  height: 93vh;
  border-radius: 20px 0 0 20px;
  background: linear-gradient(180deg,#071022 0%, #0b1220 100%);
  padding: 25px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-left: 2px solid #0e3347;
  transition: 0.35s ease;
}

/* افتح السايد بار بالهوفر */
.dashboard:hover {
  width: 250px;
}

/* Expanded → لما بالهوفر */
.dashboard.expanded {
  width: 250px;
}

/* =============================== */
/* 🔵 النصوص داخل الداشبورد */
/* =============================== */

.text-logo,
.dash-links li a span,
.footer-btn span {
  opacity: 0;
  max-width: 0;
  transform: translateX(20px);
  overflow: hidden;
  white-space: nowrap;
  transition:
    opacity 0.8s ease,
    max-width 0.8s ease,
    transform 0.8s ease;
}

/* تظهر فقط في وضع expanded */
.dashboard:hover .text-logo,
.dashboard:hover .dash-links li a span,
.dashboard:hover .footer-btn span {
  opacity: 1;
  max-width: 200px;
  transform: translateX(0);
}

/* ياخد padding اكبر ويتحرك سموزي */
.dash-links li a:hover {
  padding: 15px 20px !important;
}

/* =============================== */
/*          🔵 اللوجو              */
/* =============================== */

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 22px;
  font-weight: 700;
  border-bottom: 2px solid #1a3a4f;
  padding-bottom: 20px;
}

/* Mini Mode */
.dashboard .logo {
  justify-content: center;
}

/* Expanded */
.dashboard:hover .logo {
  justify-content: flex-start;
}

.logo .gradient-color {
  background: radial-gradient(circle, #009ad755, #ffffff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 40px;
}

.logo span {
  font-size: 32px;
  font-weight: 700;
  padding-bottom: 4px;
  background: radial-gradient(circle, #009ad755, #ffffff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow:
    0 0 2px #009ad755,
    0 0 2px #009ad755,
    0 0 2px #009ad755,
    0 0 2px #009ad755,
    0 0 2px #009ad755;
}

.glowing-text {
  color: #9bc4d4;
  font-size: 45px;
  font-weight: bold;
  text-shadow:
    0 0 10px #009ad7,
    0 0 20px #009ad7,
    0 0 40px #009ad7,
    0 0 80px #00e0ff,
    0 0 120px #00e0ff;
  animation: pulse 2s ease-in-out infinite alternate;
}

.text-logo {
  color: #009ad7;
  font-size: 45px;
  font-weight: bold;
}

@keyframes pulse {
  0% { transform: scale(1); opacity: 1; }
  50% { transform: scale(1.15); opacity: 0.8; }
  100% { transform: scale(1); opacity: 1; }
}

/* =============================== */
/*      🔵 القائمة داخل الداش      */
/* =============================== */

.menu {
  margin-top: 30px;
}

.dash-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.dash-links li a {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  padding: 12px 0;
  justify-content: center; /* Mini */
  border-radius: 10px;
  color: #d9e7ef;
  transition: 0.3s ease;
}

/* Expanded فقط */
.dashboard:hover .dash-links li a {
  justify-content: flex-start;
  padding: 10px 12px;
}

.dash-links li i {
  font-size: 24px;
  width: 26px;
  text-align: center;
}

.dashboard:hover .dash-links li i {
  font-size: 20px;
}

/* Hover */
.dash-links li a:hover {
  padding: 20px;
  background: rgba(255, 255, 255, 0.08);
  transform: translateX(-5px);
  color: #00e0ff;
  box-shadow:  0 8px 8px 0 rgba(99, 97, 97, 0.663);
}

/* =============================== */
/*        🔵 الجزء الأخير          */
/* =============================== */

.footer-section {
  padding-top: 20px;
  border-top: 2px solid #1a3a4f;
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-top: auto;
  margin-bottom: 20px;
}

.admin-profile {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #4d6378;
  padding: 10px 15px;
  border-radius: 40px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  cursor: pointer;
  transition: 0.2s;
}

/* الأيقونة */
.admin-icon {
  font-size: 25px;
  color: white;
  transition: 0.3s ease;
}

/* النص */
.admin-info h4 {
  font-size: 18px;
  margin: 0;
  color: #d9e7ef;
}

/* Mini Mode */
.dashboard .admin-info {
  opacity: 0;
  max-width: 0;
  overflow: hidden;
  transform: translateX(20px);
  transition: 0.4s ease;
}

/* Expanded */
.dashboard:hover .admin-info {
  opacity: 1;
  max-width: 200px;
  transform: translateX(0);
}

.dashboard .admin-profile {
  justify-content: center;
}

.dashboard:hover .admin-profile {
  justify-content: flex-start;
}

.footer-btn {
  background: rgba(255, 255, 255, 0.08);
  padding: 12px;
  border-radius: 10px;
  color: #d9e7ef;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  font-size: 17px;
  transition: 0.3s ease;
  justify-content: center;
}

.dashboard:hover .footer-btn {
  justify-content: flex-start;
}

.footer-btn:hover {
  background: rgba(255, 255, 255, 0.15);
  transform: translateX(-5px);
    background: #e74c3c;
    color: #071022;
}

/* =============================== */
/*           نهاية الداشبور           */
/* =============================== */



























/* =============================== */
/*        🔵 محتوى الصفحة          */
/* =============================== */

.main-content {
  position: relative;
  min-height: 91vh;
  background: linear-gradient(180deg,#071022 0%, #0b1220 100%);
  padding: 25px;
  border-radius: 20px;
  margin-right: 120px; /* Mini width */
  transition: margin-right 0.35s ease;
}

/* محتوى يكش مع الهوفر */
.dashboard:hover ~ .main-content {
  margin-right: 290px;
}






/* Start Name Page */

/* راس الموقع */
.top-bar {
    background-color: #0f1a2b;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
}

.top-bar h2 {
  padding-right: 30px;
}

.top-bar i {
  padding-left: 30px;
}





/* Start Cards */

.data-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
    color: white;
}
.data-info .box {
  background: linear-gradient(135deg, rgba(255,255,255,0.03), rgba(0,0,0,0.15));
  border:1px solid rgba(255,255,255,0.04);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.02);
    height: 150px;
    flex-basis: 150px;
    flex-grow: 1;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.data-info .box:hover {
  box-shadow: 0 20px 60px rgba(2,6,23,0.7), 0 6px 18px rgba(0,0,0,0.3);
}

.data-info .box i {
    font-size: 40px;
    color: #06b0ff;
}
.data-info .box .data {
    text-align: center;
}
.data-info .box .data p {
  font-size: 18px;
  font-weight: 500;
}
.data-info .box .data span {
    font-size: 30px;
    font-weight: 500;
}

/* End Cards */














/* =============================== */
/* 📊 قسم الرسم البياني */
/* =============================== */

/* نفس عرض الكروت بالظبط */
.chart-section {
  width: 90%;               /* نفس نسبة الكونتينر الأساسي */
  max-width: 1200px;        /* نفس الماكس للكروت */
  margin: 0 auto;           /* توسيط */
}

/* صندوق الرسم */
.chart-box {
  background: #0c1b30;
  padding: 25px;
  border-radius: 25px;
  box-shadow: 0 10px 30px #0006;
  text-align: center;
  color: #fff;

  width: 50%;
  margin: 40px auto 0;      /* مسافة من فوق وتوسيط */
}

/* تكبير الكانفاس */
.chart-box canvas {
  height: 260px !important; /* طول الرسم */
  width: 100% !important;   /* العرض كله */
}
