









/* ================== الخلفية الإزاز ================== */
.account-choice-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.65);
  backdrop-filter: blur(10px);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999999;
    justify-content: center;
  text-align: center;
    color: #fff;
}

.account-choice-overlay.active {
  display: flex;
}

/* ================== صندوق البوب أب ================== */
.popup-choice {
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(25px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 30px;
  border-radius: 15px;
  width: 500px;
  max-width: 95%;
  max-height: 90vh;
  overflow-y: auto;
  box-shadow: 0 0 25px rgba(255, 255, 255, 0.581);
  animation: popupFade 0.4s ease;
  position: relative;
}


@keyframes popupFade {
    from {
        opacity: 0;
        transform: scale(0.85);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}


/* زر الإغلاق */
.close-choice-signup {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 35px;
  color: #bbb;
  cursor: pointer;
  transition: 0.3s;
}
.close-choice-signup:hover {
  color: #fff;
  transform: scale(1.15);
}


/* عنوان البوب أب */
.choice-title {
    color:  #0099ff;
  text-shadow:
    0 0 6px #00e0ff,
    0 0 12px #00e0ff,
    0 0 24px #00e0ff;
  margin: 20px;
  padding: 10px;
  font-weight: 600;
  color: white;
  font-size: 30px;
}


/* ================== أزرار الاختيار ================== */
.choice-btn {
  width: 80%;
  margin: 20px 0;
  padding: 14px 0;

  font-size: 18px;
  border: none;
  border-radius: 12px;
  cursor: pointer;

  background: linear-gradient(45deg, #00d5ff, #00ffa6);
  color: #000;
  font-weight: bold;

  transition: 0.25s;
}

.choice-btn:hover {
  transform: scale(1.06);
  filter: brightness(1.12);
}




