/* =============================== */
/*   🔵 إعدادات أساسية للصفحة     */
/* =============================== */

body {
    background-color: rgba(64, 102, 140, 0.705);
  font-family: "Segoe UI", sans-serif;
  direction: rtl;
}


/* =============================== */
/*            🔵 الداشبورد         */
/* =============================== */

.dashboard {
  position: fixed;
  right: 0;
  top: 0;
  width: 80px;    /* Mini */
  height: 93vh;
  border-radius: 20px 0 0 20px;
  background: linear-gradient(180deg,#071022 0%, #0b1220 100%);
  padding: 25px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-left: 2px solid #0e3347;
  transition: 0.35s ease;
}

/* افتح السايد بار بالهوفر */
.dashboard:hover {
  width: 250px;
}

/* Expanded → لما بالهوفر */
.dashboard.expanded {
  width: 250px;
}

/* =============================== */
/* 🔵 النصوص داخل الداشبورد */
/* =============================== */

.text-logo,
.dash-links li a span,
.footer-btn span {
  opacity: 0;
  max-width: 0;
  transform: translateX(20px);
  overflow: hidden;
  white-space: nowrap;
  transition:
    opacity 0.8s ease,
    max-width 0.8s ease,
    transform 0.8s ease;
}

/* تظهر فقط في وضع expanded */
.dashboard:hover .text-logo,
.dashboard:hover .dash-links li a span,
.dashboard:hover .footer-btn span {
  opacity: 1;
  max-width: 200px;
  transform: translateX(0);
}

/* ياخد padding اكبر ويتحرك سموزي */
.dash-links li a:hover {
  padding: 15px 20px !important;
}

/* =============================== */
/*          🔵 اللوجو              */
/* =============================== */

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 22px;
  font-weight: 700;
  border-bottom: 2px solid #1a3a4f;
  padding-bottom: 20px;
}

/* Mini Mode */
.dashboard .logo {
  justify-content: center;
}

/* Expanded */
.dashboard:hover .logo {
  justify-content: flex-start;
}

.logo .gradient-color {
  background: radial-gradient(circle, #009ad755, #ffffff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 40px;
}

.logo span {
  font-size: 32px;
  font-weight: 700;
  padding-bottom: 4px;
  background: radial-gradient(circle, #009ad755, #ffffff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow:
    0 0 2px #009ad755,
    0 0 2px #009ad755,
    0 0 2px #009ad755,
    0 0 2px #009ad755,
    0 0 2px #009ad755;
}

.glowing-text {
  color: #9bc4d4;
  font-size: 45px;
  font-weight: bold;
  text-shadow:
    0 0 10px #009ad7,
    0 0 20px #009ad7,
    0 0 40px #009ad7,
    0 0 80px #00e0ff,
    0 0 120px #00e0ff;
  animation: pulse 2s ease-in-out infinite alternate;
}

.text-logo {
  color: #009ad7;
  font-size: 45px;
  font-weight: bold;
}

@keyframes pulse {
  0% { transform: scale(1); opacity: 1; }
  50% { transform: scale(1.15); opacity: 0.8; }
  100% { transform: scale(1); opacity: 1; }
}

/* =============================== */
/*      🔵 القائمة داخل الداش      */
/* =============================== */

.menu {
  margin-top: 30px;
}

.dash-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.dash-links li a {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  padding: 12px 0;
  justify-content: center; /* Mini */
  border-radius: 10px;
  color: #d9e7ef;
  transition: 0.3s ease;
}

/* Expanded فقط */
.dashboard:hover .dash-links li a {
  justify-content: flex-start;
  padding: 10px 12px;
}

.dash-links li i {
  font-size: 24px;
  width: 26px;
  text-align: center;
}

.dashboard:hover .dash-links li i {
  font-size: 20px;
}

/* Hover */
.dash-links li a:hover {
  padding: 20px;
  background: rgba(255, 255, 255, 0.08);
  transform: translateX(-5px);
  color: #00e0ff;
  box-shadow:  0 8px 8px 0 rgba(99, 97, 97, 0.663);
}

/* =============================== */
/*        🔵 الجزء الأخير          */
/* =============================== */

.footer-section {
  padding-top: 20px;
  border-top: 2px solid #1a3a4f;
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-top: auto;
  margin-bottom: 20px;
}

.admin-profile {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #4d6378;
  padding: 10px 15px;
  border-radius: 40px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  cursor: pointer;
  transition: 0.2s;
}

/* الأيقونة */
.admin-icon {
  font-size: 25px;
  color: white;
  transition: 0.3s ease;
}

/* النص */
.admin-info h4 {
  font-size: 18px;
  margin: 0;
  color: #d9e7ef;
}

/* Mini Mode */
.dashboard .admin-info {
  opacity: 0;
  max-width: 0;
  overflow: hidden;
  transform: translateX(20px);
  transition: 0.4s ease;
}

/* Expanded */
.dashboard:hover .admin-info {
  opacity: 1;
  max-width: 200px;
  transform: translateX(0);
}

.dashboard .admin-profile {
  justify-content: center;
}

.dashboard:hover .admin-profile {
  justify-content: flex-start;
}

.footer-btn {
  background: rgba(255, 255, 255, 0.08);
  padding: 12px;
  border-radius: 10px;
  color: #d9e7ef;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  font-size: 17px;
  transition: 0.3s ease;
  justify-content: center;
}

.dashboard:hover .footer-btn {
  justify-content: flex-start;
}

.footer-btn:hover {
  background: rgba(255, 255, 255, 0.15);
  transform: translateX(-5px);
    background: #e74c3c;
    color: #071022;
}

/* =============================== */
/*           نهاية الداشبور           */
/* =============================== */

































/* =============================== */
/*        🔵 محتوى الصفحة          */
/* =============================== */

.main-content {
  position: relative;
  min-height: 91vh;
  background: linear-gradient(180deg,#071022 0%, #0b1220 100%);
  padding: 25px;
  border-radius: 20px;
  margin-right: 120px; /* Mini width */
  transition: margin-right 0.35s ease;
}

/* محتوى يكش مع الهوفر */
.dashboard:hover ~ .main-content {
  margin-right: 290px;
}






/* Start Name Page */

/* راس الموقع */
.top-bar {
    background-color: #0f1a2b;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
}

.top-bar h2 {
  padding-right: 30px;
}

.top-bar i {
  padding-left: 30px;
}








/* =============================== */
/* 🔍 Search Bar */
/* =============================== */

.search-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;   /* ❗ يسنتر العنصر أفقياً */
  margin: 20px 0;
}

.search-box {
  width: 40%;   /* ✨ خلي السيرش ياخد 40% من عرض الشاشة */
  min-width: 250px;
  position: relative;
}


/* 🎯 Search Box */
.search-box {
  width: 50%;
  position: relative;
  margin: 20px;
}

.search-box input {
  width: 100%;
padding: 15px;
  border: none;
  outline: none;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(6px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  color: #fff;
  font-size: 18px;
  transition: 0.3s;
}

.search-box input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.search-box input:focus {
  background: rgba(255, 255, 255, 0.18);
  border-color: #4da3ff;
  box-shadow: 0 0 15px #4da3ff55;
}

/* 🔍 Icon */
.search-box i {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  color: #fff;
  opacity: 0.7;
  cursor: pointer;
  transition: 0.3s;
}

.search-box i:hover {
  opacity: 1;
  transform: translateY(-50%) scale(1.1);
}


























/* =============================== */
/* 📋 Table */
/* =============================== */

.table-card {
  background: #0F172A;
  padding: 22px;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.25);
  margin-top: 30px;
}


.table-wrapper {
  max-height: 400px;
  overflow-y: auto;
  border-radius: 12px;
}


/* 🔥 Scrollbar شكله فخم */
.table-wrapper::-webkit-scrollbar {
  width: 8px;               /* عرض السكروول */
}

.table-wrapper::-webkit-scrollbar-track {
  background: #0b1a2a;      /* خلفية داكنة */
  border-radius: 10px;
}

.table-wrapper::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #1e90ff, #0b60c5);
  border-radius: 10px;
}

.table-wrapper::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #3aa8ff, #1472d8);
}



#users-table {
  width: 100%;
  border-collapse: collapse;
  color: #fff;
}

#users-table thead th {
  position: sticky;
  top: 0;
  z-index: 10;
background: #1E293B;   /* 🔵 لون ثابت لا يحتوي شفافية */
  padding: 14px;
  font-size: 16px;
  font-weight: 700;
}

#users-table tbody td {
  text-align: center;
  padding: 14px 12px;
  border-bottom: 1px solid rgba(255,255,255,0.05);
  font-size: 15px;
}

/* ✨ Hover لطيف على صفوف الجدول */
#users-table tbody tr {
  transition: 0.25s ease;
}

#users-table tbody tr:hover {
  background: rgba(255, 255, 255, 0.06);   /* لون فاتح خفيف */
  transform: scale(1);                  /* تكبير بسيط */
}


/* 🔘 أزرار الإجراءات */
.actions {
  display: flex;
  gap: 8px;
  justify-content: center;
}

.btn-action {
  border: none;
  padding: 8px 10px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 15px;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* ========================= */
/* 🎈 Tooltip (اسم الزرار) */
/* ========================= */

.actions {
  position: relative;
}

.actions button {
  position: relative;
  cursor: pointer;
}

/* التولتيب */
.actions button::after {
  content: attr(data-title);
  position: absolute;
  bottom: 48px;
  right: 50%;
  transform: translateX(50%) scale(0);
  background: #000000cc;
  color: #fff;
  padding: 6px 12px;
  font-size: 14px;
  white-space: nowrap;
  border-radius: 8px;
  opacity: 0;
  transition: 0.25s ease;
  pointer-events: none;
}

/* السهم */
.actions button::before {
  content: "";
  position: absolute;
  bottom: 38px;
  right: 50%;
  transform: translateX(50%) scale(0);
  border-width: 6px;
  border-style: solid;
  border-color: #000000cc transparent transparent transparent;
  opacity: 0;
  transition: 0.2s ease;
}

/* إظهار التولتيب */
.actions button:hover::after,
.actions button:hover::before {
  opacity: 1;
  transform: translateX(50%) scale(1);
}



/* تعديل */
/* .btn-action.edit {
  background: #f39c12;
  color: #fff;
}
.btn-action.edit:hover {
  background: #d8870b;
} */

/* حذف */
.btn-action.delete {
  background: #e74c3c;
  color: #fff;
}
.btn-action.delete:hover {
  background: #c0392b;
}

/* حظر */
.btn-action.ban {
  background: #444;
  color: #fff;
}
.btn-action.ban:hover {
  background: #222;
}





